{% load static %}
{% if messg %}
<script>
    alert('{{ messg }}');
</script>
{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SingnIn</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">

</head>
<body>
    <form action="/postsign/" method="POST">
        {% csrf_token %}
        <label id="email">Email:</label>
        <input type="email" name="email" placeholder="Email_id">
        <p></p>
        <label id="pass">Password:</label>
        <input type="password" name="pass" placeholder="Password">
        <p></p>
        <input type="submit" value="SignIn">
        <button type="button" onclick="location.href='{%url 'signUp'%}'">SignUp</button>
    </form>      
</body>
</html>